<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
  <ImageView
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:id="@+id/imageView1"
      android:maxWidth="70dp"
      android:minHeight="42dp"
      android:minWidth="10dp"
      android:paddingBottom="0dp"
      android:paddingLeft="5dp"
      android:paddingRight="10dp"
      android:paddingTop="0dp" />
  <LinearLayout
      android:orientation="vertical"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:id="@+id/linearLayout1"
      android:layout_marginBottom="0dp"
      android:layout_marginLeft="5dp"
      android:layout_marginRight="0dp"
      android:layout_marginTop="0dp">
    <TextView
        android:text="Medium Text"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:textStyle="bold"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/ItemNo" />
    <TextView
        android:text="Small Text"
        android:textAppearance="?android:attr/textAppearanceSmall"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/ItemDesc" />
    <TextView
        android:text="Small Text"
        android:textAppearance="?android:attr/textAppearanceSmall"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/QtyInfo" />
  </LinearLayout>
</LinearLayout>